/* ========================================= */
:root{
    --text-colour: #3A3A3A;
    --button-color: #E02C6D;
}
/* ========================================= */
.poppins {
  font-family: "Poppins", sans-serif;
}
/* ========================================= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header-section-start */
header{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 87px 0px 69px 0px;
}
nav{
    display: flex;
    gap: 34px;
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: var(--text-colour);
    font-size: 16px;
    font-weight: 600;
}
.logo h1{
    font-size: 24px;
    font-weight: bold;
    color: var(--text-colour);
}
/* header-section-end */

/* hero-section-start */
.hero-section{
    display: flex;
    max-width: 1200px;
    height: 475px;
    margin: 0 auto;
    align-items: center;
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: right;
}
.hero-sec-left-content{
    width: 582px;
    margin-right: 133px;
}
.hero-sec-left-content h1{
    font-size: 52px;
    line-height: 70px;
    font-weight: bold;
    color: var(--text-colour);
}
.hero-sec-left-content p{
    font-size: 16px;
    font-weight: 600;
    color: var(--text-colour);
    padding: 16px 0px;
}
.btn{
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
    width: 196px;
    height: 44px;
    border-radius: 41px;
    background-color: var(--button-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.hero-sec-right-content img{
    padding-left: 10px;
}
/* hero-section-end */

/* brands-section-start */
.brands-section{
    display: grid;
    width: 1110px;
    margin: 69px auto;
    grid-template-columns: repeat(7, auto);
    justify-content: space-evenly;
    border: 1px solid;
    border-image: linear-gradient(to right,transparent, #C0CCDA, transparent) 1;
    padding: 36px 0px;
}

/* brands-section-end */

.cameras-collections{
    width: 1047px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 30px;
}
.cl-h h1{
    font-size: 28px;
    color: var(--text-colour);
    line-height: 70px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;

}
.collections-card{
    width: 329px;
    height: 476px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 17px 15px 17px 15px;
}
.collections-card h2{
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    color: #18191F;
}
.collections-card h3{
    font-size: 24px;
    line-height: 150%;
    color: #000000;
}
.collections-card p{
    font-size: 14px;
    line-height: 143%;
    color: #000000;
    color: #787885;
}

.features{
    background-image: none;
    flex-direction: row-reverse;
    gap: 96px;
    margin: 100px auto;
    
}
.f-left{
    margin-right: 0;
}
.btn-1{
    border-radius: 0px;
    width: 155px;
    height: 44px;
}

footer{
    background-color: #0a0826;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
footer h2{
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
}
footer p{
    font-size: 14px;
    line-height: 24px;
    color: #D9DBE1;
    font-weight: bold;
}